<div class="col-xs-12 jumbotron" ng-repeat="instruct in instructions">

	<hr>
	<h2 align="center">{{instruct.title}}</h2>
	<hr>
	<div class="col-xs-12 col-sm-5" ng-hide="panel.isNull(instruct.image)">
		<div class="thumbnail">
			<a href="{{instruct.image}}" target="#"><img src="{{instruct.image}}" alt="{{instruct.title}}"></a>
			<div class="caption" ng-if="instruct.image_legende != ''">
				<hr>
				<p align="center"><i>{{instruct.image_legende}}</i></p>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-7">
		<p style="text-indent:2em" ng-repeat="phrase in instruct.content" ng-bind-html="phrase | sanitize">{{phrase}}</p>
	</div>
</div>