<nav class="navbar navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#silkroad-navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Les cartes contre l'humanité</a>
		</div>
		<div class="container">
			<div class="collapse navbar-collapse" id="silkroad-navbar">
				<ul class='nav navbar-nav' ng-controller="NavbarLeftListCtrl">
						
			    <li ng-repeat="page in pages" ng-class="{active:panel.isSelected(page.link)}">
			    	<a href="" ng-click="panel.selectTab(page.link)"><i class="{{page.glyphicon_left}}"></i>{{page.name}}<i class="{{page.glyphicon_right}}"></i></a>
			    </li>

				</ul>

				<ul class="nav navbar-nav navbar-right" ng-controller="NavbarRightListCtrl">
					<li ng-repeat="page in pages_right" ng-class="{active:panel.isSelected(page.link)}">
			    	<a href="" ng-click="panel.selectTab(page.link)"><i class="{{page.glyphicon_left}}"></i> {{page.name}} <i class="{{page.glyphicon_right}}"></i></a>
			    	</li>
				</ul>

			</div>
		</div>
	</div>
</nav>