/* Déclaration */
@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 46.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee
@brand-primary: darken(#428bca, 6.5%); // #337ab7
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;
@nav-color: @text-color;
@nav-text-color: @special-black;
@special-black: #232323;
@text-color: white;


@font-face {
	font-family: "Playball";
	src: url("../../ressources/fonts/Playball-Regular.ttf");
}

body {
	background-color: @special-black; 
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
#presentationTitle {
	color: @special-black;
	font-family: 'Playball', cursive;
}
#sources {
	background-color: @nav-color;
	color: @nav-text-color;
}
.jumbotron {
	background-color: @text-color;
	color: @special-black
}